.header {
	background: $off-black;
	margin-bottom: $xl-size;
    padding: $m-size $sm-size;
    color: $white;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle{
    color:$light-green;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (max-width:45rem){
    .header {
        margin-bottom: $m-size;
    }
}