// colors

$off-black: #20222b;
$white:#fff;
$off-white:#c6cee7;
$light-green:#73c1ee;
$dark-blue:#333745;
$blue:#3c4574;
$light-blue:#505786;
$purple:#8357c5;


// Spacing
$sm-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$xxl-size:7.2rem;